{% extends 'base.html.twig' %}

{% block title %}Sindicato index{% endblock %}

{% block body %}
    <h1>Sindicato index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sindicato</th>
                <th>Logo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sindicato in sindicatos %}
            <tr>
                <td>{{ sindicato.id }}</td>
                <td>{{ sindicato.sindicato }}</td>
                <td>{{ sindicato.logo }}</td>
                <td>
                    <a href="{{ path('app_sindicato_show', {'id': sindicato.id}) }}">show</a>
                    <a href="{{ path('app_sindicato_edit', {'id': sindicato.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sindicato_new') }}">Create new</a>
{% endblock %}
